<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Clientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body class="index-page">

    <!-- Botão para voltar -->
    <a href="{{ url_for('index') }}" class="botao-topo-direito">Voltar para Principal</a>
    <a href="{{ url_for('acompanhamentos') }}" class="botao-topo-esquerdo">Acompanhar</a>

    <div class="container">
        <h1>Cadastro de Clientes</h1>
        <form action="/cliente" method="post">
            <label for="cliente-nome">Fornecedor:</label><br>
            <input type="text" id="cliente-nome"placeholder="Seu nome"  name="cliente-nome"><br><br>

            <label for="endereco">Produto:</label><br>
            <input type="text" id="endereco" placeholder="Digite seu produto" name="endereco"><br><br>

            <label for="endereco">Quantidade:</label><br>
            <input type="text" id="endereco" placeholder="Quantidade em estoque" name="endereco"><br><br>

            <label for="endereco">Endereço:</label><br>
            <input type="text" id="endereco" placeholder="Digite seu endereco" name="endereco"><br><br>

            <label>Valor e Quantidade por Valor:</label><br>
            <div class="input-row">
                <input type="text" id="valor" name="valor" placeholder="Valor">
                <input type="text" id="quantidade-valor" name="quantidade-valor" placeholder="Qtd. por Valor">
            </div><br>

            <input type="submit" value="Cadastrar Cliente" class="btn">
        </form>
    </div>

</body>
</html>
