<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Fornecedores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body class="index-page">

    <!-- Botão no canto superior direito e esquerdo -->
    <a href="{{ url_for('login') }}" class="botao-topo-direito">Entrar como Fornecedor</a>
    <a href="{{ url_for('acompanhamentos') }}" class="botao-topo-esquerdo">Acompanhar</a>

    <div class="container">
        <h1>Cadastro de Fornecedores</h1>
        <!-- !-- PRECISA DE ROTA NO CASO N TEM BANCO VAI SO ATULIZAR FORM --! -->
        <form action="/" method="get">
            <label for="fornecedor-nome">Nome do Fornecedor:</label><br>
            <input type="text" id="fornecedor-nome" name="fornecedor-nome"><br><br>

            <label for="produto">Produto:</label><br>
            <input type="text" id="produto" name="produto"><br><br>

            <label for="quantidade">Quantidade:</label><br>
            <input type="text" id="quantidade" name="quantidade"><br><br>

            <label for="valor">Valor:</label><br>
            <input type="text" id="valor" name="valor"><br><br>

            <input type="submit" value="Cadastrar Fornecedor" class="btn">
        </form>
    </div>

</body>
</html>
