<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css') }}">
</head>
<body class="index-page">
    <div class="botoes-centrais">
        <a href="{{ url_for('login') }}" class="botao-central">FORNECEDOR</a>
        <a href="{{ url_for('cliente_index') }}" class="botao-central">CLIENTE</a>

    </div>
</body>
</html>
